    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0.5;
        span{
            align-items: center;
            color: red;
        }
    }