.menuBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 30%;
  border: 1px solid #565656;
  border-radius: 50px;
  height: 100%;
  padding: 20px 5px  ;
  button {
    border-radius: 50px;
    margin: 5px;
    background-color: transparent;
    display: block;
    
  }
}
