.experience {
  padding-top: 90px;
  padding-bottom: 90px;
  .experienceWrapper {
    max-width: 1130px;
    padding: 0 15px;
    margin: auto;
    button {
      display: flex;
      gap: 10px;
    }
    .expheadline {
      font-size: 48px;
      line-height: 60px;
      color: #fff;
      font-weight: 300;
      margin-bottom: 33px;
      span {
        color: #28e98c;
      }
    }
    .exp-timeline {
      opacity: 1;
      transform: translate(0px, 0px);
      margin-top: 78px;
      .item {
        &:hover {
          &:before {
            background: #28e98c;
          }
          .date{
            color: #28e98c;
          }
          
        }
        li{
          list-style: none;
        }
        &:before {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          background: #656565;
          border-radius: 50%;
          left: -6px;
          top: 7px;
          transition: 0.3s;
        }
        position: relative;
        padding-left: 74px;
        padding-bottom: 68px;
        &:after {
          content: "";
          background: #333333;
          width: 1px;
          height: 70%;
          position: absolute;
          left: 0;
          top: 10px;
          z-index: -1;
        }
      }
    }
  }
}
